
body {
    background-image: url(components/media/Background_img.jpg); /* Путь к фоновому изображению */
    width: 100%;
    height: 100%;
    background-size:cover;
    background-position: center;
    background-attachment: fixed
}

